body {
    background: white;
}

@media (min-width: 600px) {
    
}

/* To edit for name on webpage */
 /* h2 {
    font-size: 29px;
    padding: 5px;
    color: black;
    margin: 3px;
    font-family: 'Raleway', sans-serif;
}  */

/* To edit "Software Engineer" */
i {
    font-size: 22px;
    color: black;
}

/* To edit about me, projects, resume links */
p {
    /* font-weight: bolder; */
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
}

 /* Used to keep links black instead of turning blue */
a {
    color: black;
}

/* Editor for all footer content */
#feet {
    font-size: 10px;
    margin-left: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Editor for linkedin and github icons position */
#icons {
    float: right;
    margin-right: 55px;
}

/* Editor for linkedin and github icons size */
.social_media {
    height: 50px;
    width: 50px;
}

/* This allows you to move all content to center */
#main_content {
    display: table;
    height: 100%;
    width: 100%;
    margin-top: 200px;
}

/* Styling for main page content */

#main_page_wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    line-height: 1.6;
    margin-left: 2em;
}

.main_content_container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

/* styling for spiral image position  */
#main_page_wrapper .image_position {
    height: 700px;
    margin: -380px 0 0 -20px;
    position:fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 700px;
}

#main_page_wrapper #spiral {
    height: 750px;
    overflow: hidden;
    width: 750px;
}

/* Styling for Blake button */
#Blake_Button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: 29px;
    padding: 5px;
    color: black;
    margin: 3px;
    font-family: 'Raleway', sans-serif; 
}

/* Button that controls modal for projects */

#projects_button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}

/* Styling for resume button */
#resume_button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}

/* Styling for about me button */
#aboutme_button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}

/* Styling for the entire modal */
#theModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    /* overflow: auto; */
    background-color: rgba(0, 0, 0,)
}

/* Styling for content in modal */
.modal_content {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(12,164,227,1) 50%);
    margin: 10% 70% 0 2%;
    padding: 20px;
    width: 45%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

}

/* styling for X button in modal */
.close_button {
    color: black;
    float: left;
    font-size: 23px;
}

/* Reaction for X button in modal */
.close_button:hover, .close_button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* image inside of modal */
.image {
    width: 300px;
    float: right;
}

/* Styling for text in modal */
h3 {
    text-align: center;
    color: white;
}

ul {
    display:inline-block;
    color: white;
}


/* Controls the spinning of the image on the page */
#spiral {
    animation: rotation 9s linear infinite;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }





