/* @media only screen {
    
} */

/* body {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(12,190,227,1) 100%);
} */

#headerName {
    text-align: center;
    font-size: 20px;
    font-family: 'Kalam', cursive;
}

#aboutMe {
    font-size: 15px;
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    margin-left: 238px;
}

.image_of_me {
    width: 450px;
    margin-left: 100px;
}

.resume_button {
    max-width: 120px;
    width: 50%;
    height: 50px;
    margin: 50px auto auto 238px;
    cursor: pointer;
    color: white;
    background-color: black;
    font-family: 'Kalam', cursive;
}