@media only screen and (min-width: 750px) {
    .aboutMe_main {
      grid-template-columns: 300px 2fr;
      display: grid;
    }
  }

  @media only screen and (min-width: 750px) {
    .aboutMe_secondary {
        max-width: 550px;
        padding-left: 40px;
        margin-top: 45px;
    }
  }

#headerName {
    text-align: center;
    font-size: 20px;
    font-family: 'constantia-regular', sans-serif;
}

.aboutMe_container {
    padding: 20px;
    font-family: 'constantia-regular', sans-serif;
}

.aboutMe_words {
    text-transform: uppercase;
    font-family: 'constantia-regular', sans-serif;
}

.image {
    width: 300px;
}
