body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,102,167,1) 35%, rgba(252,252,252,1) 100%);
    font-family: "Constantia Regular", "Constantia Regular", serif;
}

h1 {
    display: block;
    color:mintcream;
    font-family: "Constantia Regular", "Constantia Regular", serif;
    font-size: 25px;
    font-weight: lighter;
    text-indent: 50ch;
}

h2 {
    display: block;
    color: mintcream;
    font-family: "Constantia Regular", "Constantia Regular", serif;
    font-size: 20px;
    font-weight: lighter;
    text-indent: 61ch;
}

ul {
    color: mintcream;
    font-family: "Constantia Regular", "Constantia Regular", serif;
    font-size: 18px;
    font-weight: lighter;
    text-indent: 68ch;
    text-decoration: underline;
    text-decoration-color: white;
    
}

.footer {
   position: relative;
   height: 50px;
   margin-top: 70vh
   
}

.footer-top {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
}

.footer-connection-logos-container {
    display: flex;
    align-items: center;
    margin-top: 5px;

}

.footer-logo-container {
    width: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.footer-logo-container-second {
    width: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.connect-logo {
    width: 100%;
    max-height: 100%;
}