body {
    background: white;
}

h2 {
    font-size: 28px;
    padding: 5px;
    color: black;
    margin: 3px;
}

i {
    font-size: 18px;
}

p {
    font-weight: bolder;
}

#footer {
    font-size: 10px;
    margin-left: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#icons {
    float: right;
    margin-right: 55px;
}

.social_media {
    height: 50px;
    width: 50px
}

#main_content {
    display: table;
    height: 100%;
    width: 100%;
    margin-top: 200px;
}

#main_page_wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    line-height: 1.6;
    margin-left: 2em;
}

.main_content_container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

/* .text_viewpoint {
    z-index: 4;
    position: relative;
    max-width: 400px;
} */

#main_page_wrapper .image_position {
    height: 700px;
    margin: -380px 0 0 -20px;
    position:fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 700px;
}

#main_page_wrapper .image {
    height: 750px;
    overflow: hidden;
    width: 750px;
    border-radius: 700px;
}







