body {
    background: whitesmoke;
}

h1 {
    font-size: 60px;
    padding: 5px;
    color: mintcream;
}

#footer {
    font-size: 10px;
    margin-left: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#icons {
    float: right;
    margin-right: 55px;
}

.social_media {
    height: 50px;
    width: 50px
}

#main_content {
    display: table;
    height: 100%;
    width: 100%;
}

#main_content_page_wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    line-height: 1.6;
    margin-left: 2em;
}

.main_content_container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.text_viewpoint {
    z-index: 4;
    position: relative;
    max-width: 400px;
}







