body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,102,167,1) 35%, rgba(252,252,252,1) 100%);
    font-family: "Constantia Regular", "Constantia Regular", serif;
}

h1 {
    display: block;
    color:mintcream;
    font-family: "Constantia Regular", "Constantia Regular", serif;
    font-size: 25px;
    font-weight: lighter;
    text-indent: 35ch;
}

h2 {
    display: block;
    color: mintcream;
    font-family: "Constantia Regular", "Constantia Regular", serif;
    font-weight: lighter;
    text-indent: 35ch;
}
